/* @media screen and (max-width: 50em) */
/* and(min-width:320px) */
@media screen and (max-width: 500px) {
  /* CSS rules for mobile devices */

  /* General Rules */
  /* section > .container {
    width: inherit;
    margin: auto;
    display: block;
    padding: 30px 1rem;
  } */

  /* Specific Rules */

  /* Banner */
  .background-image {
    background-position: center;
  }

  .text-group {
    margin-top: 4rem;
  }

  /* Nav */
  #nav-bar .container {
    display: block;
  }

  #nav-bar .container > .group-info {
    display: block;
    text-align: left;
    padding-left: 32px;
  }

  #nav-bar .container .text-group-1 {
    display: none;
  }

  /* About Section */
  #about .container {
    grid-template-columns: repeat(1, 1fr);
  }

  #about .container #target p {
    padding-bottom: 3rem;
  }

  /* Job info */
  #job-info .container {
    grid-template-columns: 1fr;
    padding: 30px 0;
  }

  /* Thứ tự của các card bị thay đổi khi ở giao diện mobile */
  .card-1 {
    order: 1;
  }

  .card-2 {
    order: 5;
  }

  .card-3 {
    order: 4;
  }

  .card-4 {
    order: 6;
  }

  .card-5 {
    order: 3;
  }

  .card-6 {
    order: 2;
  }

  /* .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    float:none;
    width: inherit;

  } */

  /* #job-info .container .card .heading {
    grid-template-columns: 75% 50%;
    display: flex;
  } */

  /* Certificates - Chứng chỉ */
  #certificate .container .certificate-info .section-title {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 1em;
  }
  /* #job-info .container .card .heading .header {
    font-size: 36px;
  } */
  .row-1 {
    /* display: block; */
    grid-template-columns: repeat(1, 1fr);
    border-bottom: none;
    padding-bottom: 0;
    row-gap: 2rem;
  }

  .row-2 {
    margin-top: 0;
  }

  /* #certificate .container .certificate-info .certificate-info-item img {
    max-width: 100%;
    width: 100%;
    height: auto;
  } */

  #certificate .container .certificate-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #certificate .container .certificate-info .certificate-info-item {
    flex-direction: column;
    /* border-bottom: 1px solid #d6c08d; */
    /* padding: 0; */
    padding-bottom: 1em;
  }

  #certificate .container .certificate-info .row-1 .certificate-info-item {
    border-bottom: 1px solid #d6c08d;
  }

  #certificate
    .container
    .certificate-info
    .row-1
    .certificate-info-item:last-child {
    border-left: none;
    border-bottom: 1px solid #d6c08d;
    /* padding: 0; */
    padding-bottom: 1em;
  }

  /* Projects */
  #project .container .section-title {
    margin-left: 0;
  }

  .group-3-card {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  /* Footer */
  #footer .container ul li a {
    display: none;
  }

  .icon-facebook-circled,
  .icon-linkedin-circled,
  .icon-github-circled {
    font-size: 2rem;
  }
  /* #footer .container ul {
    
  } */
  .general-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    padding-left: 24px;
  }
}

@media screen and (max-width: 350px) {
  #banner .text-group .name {
    text-align: center;
  }
}

/* @media screen and (min-width: 768px) {
  #job-info .containter {
    padding: 0 3rem;
  }
} */
